body {
    margin: 0;
    background: #1F2937;    
    text-align: center;
    font-family: "Inter", sans-serif;
}

input {
    background-color: #6943FF;
    color: white;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 120px;
    line-height: 24px;
    font-size: 58px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

button{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 125px;
    padding: 10px 2px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #3D3D3D;
}

h1 {
    font-size: 28px;
    font-weight: 800;
}

h3 {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 400;
}

p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
}

.hero {
    background: #6943FF;
    color: white;
    padding: 30px;
}

.main {
    padding: 20px;
}

.section {
    background: #273549;
    margin: 20px;
    padding: 15px;
}
